
venv/
.idea/
tests/libs/**/
tests/nltk_data_download/**/
tests/~
*.pyc




nltk_data_download/tokenizers/punkt/turkish.pickle

nltk_data_download/tokenizers/punkt/slovene.pickle

nltk_data_download/tokenizers/punkt/PY3/turkish.pickle

nltk_data_download/tokenizers/punkt/PY3/spanish.pickle

nltk_data_download/tokenizers/punkt/PY3/README

nltk_data_download/tokenizers/punkt/README

nltk_data_download/tokenizers/punkt/spanish.pickle

nltk_data_download/tokenizers/punkt/swedish.pickle

nltk_data_download/tokenizers/punkt/PY3/swedish.pickle
