
venv/
.idea/

tests/libs/**/
tests/nltk_data_download/**/
tests/~
*.pyc


nltk_data_download/**/*
/analyser/vocab/nltk/**/*
!/analyser/vocab/nltk/tokenizers/punkt/PY3/russian.pickle
!/analyser/vocab/nltk/tokenizers/punkt/PY3/english.pickle
!/analyser/vocab/nltk/tokenizers/punkt/russian.pickle
!/analyser/vocab/nltk/tokenizers/punkt/english.pickle

tests/contracts-stats.csv
tests/contracts-stats-1.csv
 

libs/document-parser**/
 

*.log

utilits/parsed_docs.json
utilits/parsed_docs.json.zip

*.checkpoint

trainsets/exported_docs.json
/work/exported_docs.json

work/**/*
!work/README.md

trainsets/uber_detection_model_005_1_1.0.log.csv
trainsets/stats.csv
trainsets/uber_detection_model_003.0.log.csv



trainsets/.ipynb_checkpoints
