
venv/
.idea/

tests/libs/**/
tests/nltk_data_download/**/
tests/~
*.pyc


nltk_data_download/**/*
/analyser/vocab/nltk/**/*
!/analyser/vocab/nltk/tokenizers/punkt/PY3/russian.pickle
!/analyser/vocab/nltk/tokenizers/punkt/PY3/english.pickle
!/analyser/vocab/nltk/tokenizers/punkt/russian.pickle
!/analyser/vocab/nltk/tokenizers/punkt/english.pickle

tests/contracts-stats.csv

tests/contracts-stats-1.csv
 
nltk_data_download/tokenizers/punkt/PY3/polish.pickle

libs/document-parser**/
 

*.log

utilits/parsed_docs.json

utilits/parsed_docs.json.zip

*.checkpoint

trainsets/exported_docs.json
/work/exported_docs.json

work/*.pickle
work/*.npy
work/*.png

work/contract_trainset_meta.csv

work/uber_detection_model_005_1_1.0.log.csv

work/uber_detection_model_005_1_1.weights

work/train_statistics0.csv

trainsets/uber_detection_model_005_1_1.0.log.csv

trainsets/stats.csv

work/contract_trainset_meta.bak.csv



work/subjects-classification_report-uber_detection_model_005_1_1.txt

trainsets/uber_detection_model_003.0.log.csv

work/*.txt

work/*.weights

work/*.json

work/*.zip


